<div class="row clearfix" ng-controller="app.views.guide.selectEdition as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>选择版本</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <ui-select ng-model="vm.selected" theme="bootstrap">
                                  <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                  <ui-select-choices repeat="edition in vm.editions">
                                    <div ng-bind="edition.name"></div>
                                  </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" ng-click="vm.next()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>